@model IEnumerable<LittleLeagueFootball.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<!-- View Teams Page -->
<h2>Little League's Football Teams</h2>

<!-- Display Simple List -->
<!-- Tables to Come in later weeks -->

<!-- Verify if any teams -->
<!-- if/else statement, Keep Model as variable -->
@if (Model == null || !Model.Any())
{
    <p>We apologize for any misunderstanding. Teams are still being organized and/or created. Please check back later. Thank you!</p>
}
else
{
    <!-- If team (variable) EXIST -->
    <!-- Use foreach loop -->
    @foreach (var team in Model)
    {
        <!-- Link TO Team's Roster -->
        <p>
            @team.Name - <a asp-controller="Team" asp-action="Roster" asp-route-id="@team.Id">Roster</a>
        </p>
    }
}

<!-- Links TO Home and Players Pages -->
<p>
    <a asp-controller="Home" asp-action="Index">Home</a> - 
    <a asp-controller="Player" asp-action="Index">Players</a>
</p>