@model IEnumerable<LittleLeagueFootball.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<!-- View Players Page -->
<h2>Little League's Football Players</h2>

<!-- Display Simple List -->
<!-- Tables to Come in later weeks -->

<!-- Verify Players exist -->
<!-- if/else statement, Model as variable -->
@if (Model == null || !Model.Any())
{
    <p>There are no players currently. Please come back at a later date after registrations have ended. Thank you!</p>
}
else
{
    <!-- If player FOUND -->
    <!-- foreach loop, order by Player LastName then FirstName, SHOW Team if applicable -->
    @foreach (var player in Model)
    {
        <!-- Display Name THEN - Team Name -->
        <p>@player.LastName, @player.FirstName -

            <!-- if/else statement if NO team assigned -->
            <!-- Label as Not Drafted Yet -->
            @if (player.Team != null)
            {
                @player.Team.Name
            }
            else
            {
                <span>Not Drafted Yet</span>
            }

        </p>
    }
}

<!-- Links TO Team and Player Pages -->
<p>
    <a asp-controller="Team" asp-action="Index">Teams</a> -
    <a asp-controller="Player" asp-action="Index">Players</a>
</p>